*{
	margin: 0;
	padding: 0;
}

body{
	color: #333;
	background: #f1f1fe;
	font-family: sans-serif;
}

div.container{
	display: flex;
	flex-direction: column;
	align-items: center;
}

h1{
	margin: 40px 0px;
}

.box{
	width: 800px;
	height: 500px;
	border: 1px solid rgba(0, 0, 0, .5);
	margin-bottom: 30px;
}

.box-1{
	background: #ccc url('http://www.colombia.co/wp-content/uploads/2016/05/Caribe-negocios-cartagena.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
}

.box-2{
	background: #ccc url('http://www.colombia.co/wp-content/uploads/2016/05/Caribe-negocios-cartagena.jpg');
	background-size: 800px 500px;
}

.box-3{
	background: #ccc url('http://www.colombia.co/wp-content/uploads/2016/05/Caribe-negocios-cartagena.jpg');
	background-size: auto;
}

.box-4{
	background: #ccc url('http://www.colombia.co/wp-content/uploads/2016/05/Caribe-negocios-cartagena.jpg');
	background-size: cover;
}

.box-5{
	background: #ccc url('http://www.colombia.co/wp-content/uploads/2016/05/Caribe-negocios-cartagena.jpg');
	background-size: contain;
}